<%- include('./partials/head') %>
    <link rel='stylesheet' href='/stylesheets/carrinho-identificacao.css' />
    <link rel='stylesheet' href='/stylesheets/processoscarrinho.css' />
    <title>Carrinho - Identificação</title>
    </head>
    <%- include('./partials/header') %>


        <main class="carrinho-identificacao">

            <section class="processo-da-compra">
                <div class="menu-carrinho">
                    <a class="sacola" href="/carrinho">Sacola</a>
                    <a class="identificacao">Identificação</a>
                    <a class="entrega">Entrega</a>
                    <a class="pagamento">Pagamento</a>
                </div>
            </section>

            <div class="container-identificacao">
                <section class="dados-pessoais">
                    <div>
                        <h3>Dados Pessoais</h3>
                        <form class="formulario-dados-pessoais" action="/dadosdestinatario" method="post" id="form">
                            <div>
                                <label for="email">Email:</label>
                                <% if (usuario !=undefined) { %>
                                    <input type="text" id="email" name="email" value="<%= usuario.email %>" />
                                    <% } else { %>
                                        <input type="text" id="email" name="email" />
                                        <% } %>
                            </div>

                            <div class="form-nome-sobrenome">
                                <div>
                                    <label for="nome">Nome</label>
                                    <% if (usuario !=undefined) { %>
                                        <input type="text" name="nome" id="nome" value="<%= usuario.nome %>" />
                                        <% } else { %>
                                            <input type="text" name="nome" id="nome" />
                                            <% } %>
                                </div>
                                <div>
                                    <label for="sobrenome">Sobrenome:</label>
                                    <% if (usuario !=undefined) { %>
                                        <input type="text" id="sobrenome" name="sobrenome"
                                            value="<%= usuario.sobrenome %>" />
                                        <% } else { %>
                                            <input type="text" id="sobrenome" name="sobrenome" />
                                            <% } %>
                                </div>
                            </div>

                            <div class="form-cpf-telefone">
                                <div>
                                    <label for="cpf">CPF:</label>
                                    <% if (usuario !=undefined) { %>
                                        <input type="text" id="cpf" name="cpf" value="<%= usuario.cpf %>" />
                                        <% } else { %>
                                            <input type="text" id="cpf" name="cpf" />
                                            <% } %>
                                </div>
                            </div>

                            <div>
                                <button class="ir-entrega" type="submit" id="submit">Ir para entrega</button>
                            </div>

                        </form>

                    </div>
                </section>

                <section class="resumo-compra">
                    <div>
                        <h3>Resumo da Compra</h3>
                        <table>

                            <% carrinhoDB.forEach( item=> { %>
                                <tr>
                                    <td class="img"><img src="<%= item.Fotos[0].urlFoto %>" alt=""></td>
                                    <td class="produto">
                                        <h3 class="label">
                                            <%= item.nomeProduto %>
                                        </h3>
                                        <% item.DescTecs.forEach( desctec=> { %>
                                            <% if ( item.DescTecs.findIndex( element=> element.nomeDescTec == desctec.nomeDescTec) <= 2) { %>
                                                <div class="tamanho">
                                                    <h4 class="label">
                                                        <%= desctec.nomeDescTec %>:
                                                    </h4>
                                                    <h4 class="dados">
                                                        <%= desctec.valor %>
                                                    </h4>
                                                </div>
                                            <% } %>
                                        <% }) %>
                                    </td>
                                    <td>
                                        <h4>R$ <%= (item.preco * (100-item.promocao) / 100).toFixed(2) %>
                                        </h4>
                                    </td>
                                </tr>
                            <% }) %>

                        </table>
                        <div class="total">
                            <div>
                                <p>Subtotal</p>
                                <% let subtotal=0 %>
                                <% carrinhoDB.forEach( item=> { %>
                                    <% subtotal +=(item.preco * (100-item.promocao) / 100) * carrinho.produtos[carrinho.produtos.findIndex( element=> element.idProduto == item.idProduto )].quantidade %>
                                <% }) %>
                                <p>R$ <%= subtotal.toFixed(2) %></p>
                            </div>
                            <div>
                                <p>Taxa de entrega</p>
                                <% let totalFrete=0 %>
                                <% carrinho.produtos.forEach(item=> { %>
                                    <% totalFrete +=parseFloat(item.frete) %>
                                <% }) %>

                                <% if(totalFrete> 0) { %>
                                    <p>R$ <%= totalFrete.toFixed(2) %></p>
                                <% } else { %>
                                    <p>à calcular</p>
                                <% } %>
                            </div>
                            <div class="total">
                                <p>Total</p>
                                <% if(totalFrete> 0) { %>
                                    <p>R$ <%= (totalFrete + subtotal).toFixed(2) %></p>
                                <% } else { %>
                                    <p>R$ <%= subtotal.toFixed(2) %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

        <script src="/scripts/validateIdentificarUsuario.js"></script>

        <%- include('./partials/footer') %>