<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/carrinho-entrega.css">    
    
    <main class="carrinho-entrega">
        <section class="processo-da-compra">
            <div>
                <a class="sacola" href="/carrinho">Sacola</a>
                <a class="identificacao" href="/identificacaocliente">Identificação</a>
                <a class="entrega">Entrega</a>
                <a class="pagamento">Pagamento</a>
            </div>
        </section>
        <div class="container-entrega">
            <section class="dados-destinatario">
                <div>
                    <h3>Dados do Destinatário</h3>
                    <a href="/identificacaocliente"><img src="/icon/carrinho-editar.png" alt="edit-destinatario"></a>
                </div>
                <p><%= dadosPreenchidos.nome %> <%= dadosPreenchidos.sobrenome %></p>
                <div class="contato">
                    <p><%= dadosPreenchidos.email %></p>
                </div>
            </section>

            <section class="entrega">
                <form>
                    <h3>Entrega</h3>
                    <% if(usuarioDB != null) { %>
                        <ul>
                            <% usuarioDB.Enderecos.forEach( endereco => { %>
                                <li><input type="radio" name="endereco" value="<%= endereco.idEndereco %>"><%= endereco.logradouro %>, <%= endereco.numero %> <%= endereco.complemento %>, <%= endereco.cidade %>/<%= endereco.estado %>, CEP: <%= endereco.cep %> </li>
                            <% }) %>
                        </ul>
                    <% } %>

                    <div class="cep">
                        <label for="cep">CEP</label>
                        <div>
                            <input type="text" id="cep" placeholder="xxxxx-xxx">
                            <a class="nao-sei-cep" href="">Não sei o CEP</a>
                        </div>
                    </div>
                    <div>
                        <label for="">Endereço de entrega</label>
                        <div class="endereco-entrega">
                            <p>Rua Pedro Paulo</p>
                            <p>Guaianases - São Paulo - SP</p>
                        </div>
                    </div>    
                    <div class="numero-compl">
                        <div>
                            <div>
                                <label for="numero-endereco">Número</label>
                                <input type="text" name="numero-endereco" id="numero-endereco">
                            </div>
                            <div>
                                <label for="complemento-endereco">Complemento</label>
                                <input type="text" name="compl-endereco" id="compl-endereco" placeholder="Apart. nº / Casa A">
                            </div>
                        </div>
                        <a href="">Escolher outro endereço</a>
                    </div>
                    <div class="modalidade-entrega">
                        <label for="">Selecione a forma de entrega</label>
                        <div class="container">
                            <div class="expressa">
                                <div>
                                    <input type="radio" name="modalidade-entrega" value="Expressa" id="expressa">
                                    <label for="expressa">Expressa<br>Em até 4 dias úteis</label>
                                </div>
                                <p>R$ 30,00</p>
                            </div>
                            <div class="padrao">
                                <div>
                                    <input type="radio" name="modalidade-entrega" value="padrao" id="padrao">
                                    <label for="padrao">Padrão<br>Em até 10 dias úteis</label>
                                </div>
                                <p>Grátis</p>
                            </div>
                            <div class="retirar">
                                <div>
                                    <input type="radio" name="modalidade-entrega" value="retirar" id="retirar">
                                    <label for="padrao">Retirar na loja<br>Em até 2 dias úteis</label>
                                </div>
                                <p>Grátis</p>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- <button class="ir-pagamento">IR PARA O PAGAMENTO</button> -->
            </section>

            <section class="resumo">
                <h3 class="resumo">Resumo</h3>
                <div>
                    <table>

                        <% carrinhoDB.forEach( item => { %>
                            <tr>
                                <td class="img"><img src="<%= item.Fotos[0].urlFoto %>" alt=""></td>
                                <td class="produto">
                                    <h3 class="label"><%= item.nomeProduto %></h3>
                                    <%  item.DescTecs.forEach( desctec => { %>
                                        <% if ( item.DescTecs.findIndex( element => element.nomeDescTec == desctec.nomeDescTec) <= 2) { %>
                                        <div class="tamanho">
                                            <h4 class="label"><%= desctec.nomeDescTec %>:</h4>
                                            <h4 class="dados"><%= desctec.valor %></h4>
                                        </div>
                                        <% } %>
                                    <% }) %>
                                </td>
                                <td>
                                    <h4>R$ <%= (item.preco * (100-item.promocao) / 100).toFixed(2) %></h4>
                                </td>
                            </tr>
                        <% }) %>
                        
                    </table>
                </div>
                <div class="total">
                    <div>
                        <p>Subtotal</p>
                        <% let subtotal = 0 %>  
                        <% carrinhoDB.forEach( item => { %>
                        <% subtotal += (item.preco * (100-item.promocao) / 100) * carrinho[carrinho.findIndex( element => element.idProduto == item.idProduto )].quantidade %>
                        <% }) %>
                        <p>R$ <%= subtotal.toFixed(2) %></p>
                    </div>
                    <div>
                        <p>Taxa de entrega</p>
                        <% let totalFrete = 0 %>
                        <% carrinho.forEach(item => { %>
                            <% totalFrete += item.frete %>
                        <% }) %>

                        <% if(totalFrete > 0) { %>
                            <p><%= totalFrete %></p>
                        <% } else { %>
                            <p>à calcular</p>
                        <% } %>
                    </div>
                    <div class="total">
                        <p>Total</p>
                        <% if(totalFrete > 0) { %>
                            <p>R$ <%= (totalFrete + subtotal).toFixed(2) %></p>
                        <% } else { %>
                            <p>R$ <%= subtotal.toFixed(2) %></p>
                        <% } %>
                    </div>
                </div>
                <div>
                    <button class="ir-pagamento" type="submit">Ir para pagamento</button>
                </div>
            </section>
        </div>
    </main>
    
    <%- include('./partials/footer') %>
</body>
</html>