<%- include('./partials/header') %>

    <main>
      <section class="banner">
        <img src="/images/banner.png" alt="banner">
      </section>

      <section class="ofertas">
        <div class="ofertasrow">
          <% produtos.forEach( produto => { %>
            <a href="/produto/<%= produto.idProduto %>" ><div class="container">
            <img src=<%= produto.foto %> alt=<%= produto.nomeProduto %> >
            <h1><%= produto.nomeProduto %></h1>
            <div class="precos">
              <ul>
                <% if (produto.promocao > 0) { %>
                  <li class="preco-antes"><%= produto.preco.toFixed(2) %></li>
                  <li class="preco-agora">R$ <%= (produto.preco * (100-produto.promocao)/100).toFixed(2) %> </li>
                  <li class="off"><%= produto.promocao %>% OFF</li>
                <% } else { %>
                  <li class="preco-agora">R$ <%= produto.preco.toFixed(2) %> </li>
                <% } %>
              </ul>
            </div>
            </div></a>
          <% }) %>
        </div>
      
      </section>
    </main>

<%- include('./partials/footer') %>
