<%- include('./partials/header') %>

  <main class="paginaproduto">
    <section class="containergeral">
        <h1> <%= produto.nome %> </h1>
        <div class="produto">
            <div class="fotosproduto">
                <div class="miniimg">
                    <% produto.fotos.forEach( element => { %>
                        <button onclick="expand()"><img src=<%= element %> alt=<%= produto.nome %> ></button>
                    <% }) %>
                </div>
                <div class="focoimg"></div>
            </div>
            <div class="descgeral">
                <h2 class="preco-agora">Preço: R$ <%= (produto.preco * (100-produto.promocao)/100).toFixed(2) %> </h2>
                <% if (produto.promocao > 0) { %>
                    <div class="oferta">
                            <p>Você economiza: <s class="preco-antes"> de R$ <%= produto.preco.toFixed(2) %> </s></p>
                            <p class="off"> <%= produto.promocao %>% OFF</p>
                    </div>
                <% } else { %>
                    <br>
                <% } %>
                <div class="subcontainer">
                    <div class="desc">
                        <p> <%= produto.desc %> </p>
                        <strong>Informações Técnicas:</strong>
                        <% for (i=0 ; i < produto.nomeDescTec.length; i++) { %>
                            <p><b> <%= produto.nomeDescTec[i] %>: </b> <%= produto.valorDescTec[i] %> </p>
                        <% } %>
                    </div>
                    <div class="comprar">
                        <form action="" method="POST">
                            <input type="text" name="CEP" id="CEP" value="Insira seu CEP">
                            <button type="submit">Calcular Frete</button>
                        </form>
                        <p>Frete: R$ -</p>
                        <p class="total">Total: R$ <%= (produto.preco * (100-produto.promocao)/100).toFixed(2) %> </p>
                        <div class="compra">
                            <button>Adicionar ao Carrinho</button>
                            <button>Comprar</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </main>

  <script src="/scripts/paginaProduto.js"></script>

<%- include('./partials/footer') %>