<%- include('./partials/header') %>

  <main class="paginaproduto">
    <section class="containergeral">
        <h1> <%= produto.nome %> </h1>
        <div class="produto">
            <div class="fotosproduto">
                <div class="miniimg">
                    <% produto.fotos.forEach( element => { %>
                        <button onclick="expand()"><img src=<%= element %> alt=<%= produto.nome %> ></button>
                    <% }) %>
                </div>
                <div class="focoimg"></div>
            </div>
            <div class="descgeral">
                <h2 class="preco-agora">Preço: R$ <%= (produto.preco * (100-produto.promocao)/100).toFixed(2) %> </h2>
                <% if (produto.promocao > 0) { %>
                    <div class="oferta">
                            <p>Você economiza: <s class="preco-antes"> de R$ <%= produto.preco.toFixed(2) %> </s></p>
                            <p class="off"> <%= produto.promocao %>% OFF</p>
                    </div>
                <% } else { %>
                    <br>
                <% } %>
                <div class="subcontainer">
                    <div class="desc">
                        <p> <%= produto.desc %> </p>
                        <strong>Informações Técnicas:</strong>
                        <% for (i=0 ; i < produto.nomeDescTec.length; i++) { %>
                            <p><b> <%= produto.nomeDescTec[i] %>: </b> <%= produto.valorDescTec[i] %> </p>
                        <% } %>
                    </div>
                    <div class="comprar">
                        <form action="/apifrete" method="POST">
                            <input type="text" name="idProduto" hidden value="<%=idProduto%>">
                            <input type="text" name="cepLoja" hidden value="<%=produto.cepLoja%>">
                            <input type="text" name="cep" id="CEP" placeholder="Insira seu CEP">
                            <button type="submit">Calcular Frete</button>
                        </form>
                        <p>Frete: R$ <%=produto.frete%></p>
                        <% if(produto.prazo != '') { %>
                            <p>Prazo de Entrega Previsto: <%=produto.prazo%> dias</p>
                        <% } %>
                        <% if(produto.frete != '-') { %>
                            <p class="total">Total: R$ <%= (produto.preco * (100-produto.promocao)/100 + parseFloat(produto.frete)).toFixed(2) %> </p>
                        <% } else { %>
                            <p class="total">Total: R$ <%= (produto.preco * (100-produto.promocao)/100).toFixed(2) %> </p>
                        <% } %>
                        <div class="compra">
                            <form action="/addcart" method="POST">
                                <input type="number" hidden name="idProduto" value="<%=idProduto%>">
                                <input type="text" hidden name="source" value="/produto/<%=idProduto%>">
                                <% if (produto.frete != '-') { %>
                                    <input type="text" hidden name="frete" value="<%=produto.frete%>">
                                <% } else { %>
                                    <input type="text" hidden name="frete" value="0">
                                <% } %>
                                <button type="submit">Adicionar ao Carrinho</button>
                            </form>
                            <form action="/comprar" method="POST">
                                <input type="number" hidden name="idProduto" value="<%=idProduto%>">
                                <% if (produto.frete != '-') { %>
                                    <input type="text" hidden name="frete" value="<%=produto.frete%>">
                                <% } else { %>
                                    <input type="text" hidden name="frete" value="0">
                                <% } %>
                                <button type="submit">Comprar</button>
                            </form>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </main>

  <script src="/scripts/paginaProduto.js"></script>

<%- include('./partials/footer') %>